@charset "UTF-8";
html {
  font-size: "微软雅黑";
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
}

input {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0px;
  line-height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.box-center {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.flex_base, .navbar ul li a, .cj .imgbox2, .bottom_middle a, .bottom_right a, .profileimg, .zixunbox, .inputwrap, .inputwrap > p a, .zixunright > p a, .main_title, .identity .identityimg, .people1, .people2, .lhbox .luwrap > p:nth-child(1), .lhbox .luwrap > p:nth-child(3) a {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
}

.flex_basec, .jd, .cj, .wenzibox {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
}

.flex_between, .yswrap {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.ecplice, .ys > p:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix {
  zoom: 1;
}

/*==for IE6/7 Maxthon2==*/
.clearfix:after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: top top;
}

.header {
  width: 100%;
  height: 1.93333rem;
  padding: 0px 0.4rem;
  box-sizing: border-box;
}

.header_left img {
  width: 0.92rem;
  margin-right: 0.13333rem;
}

.logoinfo p:first-child {
  font-size: 0.50667rem;
  color: #0175be;
  font-weight: bold;
}

.logoinfo p:last-child {
  font-size: 0.21333rem;
  color: #0175be;
}

.header_right img {
  width: 0.8rem;
  margin-right: 0.13333rem;
}

.contact p:first-child {
  font-size: 0.26667rem;
  color: #898a8a;
}

.contact p:last-child {
  font-size: 0.32rem;
  color: #0175be;
}

.navbar {
  width: 100%;
  height: 1.02667rem;
}

.navbar ul {
  width: 100%;
  height: 100%;
}

.navbar ul li {
  height: 100%;
  width: 22.46%;
  border-right: 1px solid #0e5996;
}

.navbar ul li a {
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #ffffff;
  background-color: #0080c7;
  border-right: 1px solid #0e5996;
  white-space: nowrap;
}

[data-dpr="2"] .navbar ul li a {
  font-size: 40px;
}

[data-dpr="3"] .navbar ul li a {
  font-size: 60px;
}

.navbar ul li:first-child {
  width: 10%;
}

.navbar ul li:last-child a {
  border-right: 0px;
}

.titlebox {
  margin-top: 0.4rem;
  margin-bottom: 0.26667rem;
}

.titlebox p {
  text-align: center;
}

.titlebox p:first-child {
  font-size: 20px;
  color: #676767;
  position: relative;
}

[data-dpr="2"] .titlebox p:first-child {
  font-size: 80px;
}

[data-dpr="3"] .titlebox p:first-child {
  font-size: 120px;
}

.titlebox p:first-child::before {
  content: "";
  width: 38%;
  height: 1px;
  background-color: #bdbdbd;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.titlebox p:first-child::after {
  content: "";
  width: 38%;
  height: 1px;
  background-color: #bdbdbd;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.titlebox p:last-child {
  font-size: 7px;
  color: #b0b0b0;
}

[data-dpr="2"] .titlebox p:last-child {
  font-size: 28px;
}

[data-dpr="3"] .titlebox p:last-child {
  font-size: 42px;
}

.jdwrap {
  font-size: 0px;
}

.imgbox {
  height: 1.04rem;
}

.imgbox img {
  height: 1.04rem;
}

.imgbox img:nth-child(2) {
  display: none;
}

.caption {
  margin-top: 0.26667rem;
  min-height: 2rem;
}

.caption p:first-child {
  color: #303030;
  font-size: 16px;
  margin-bottom: 0.06667rem;
}

.caption p:last-child {
  color: #999999;
  font-size: 10px;
  line-height: 1.6;
}

.jd {
  width: calc((100% - 2px) / 3);
  text-align: center;
  display: inline-flex;
  vertical-align: top;
  min-height: 4rem;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  padding: 0px 0.26667rem;
  box-sizing: border-box;
}

.jd:nth-child(3n) {
  border-right: none;
}

.jd:nth-child(1) {
  border-top: none;
}

.jd:nth-child(2) {
  border-top: none;
}

.jd:nth-child(3) {
  border-top: none;
}

.jd:hover {
  background-color: #0080c7;
}

.jd:hover .imgbox img:nth-child(1) {
  display: none;
}

.jd:hover .imgbox img:nth-child(2) {
  display: block;
}

.jd:hover .caption p:nth-child(1) {
  color: #ffffff;
}

.jd:hover .caption p:nth-child(2) {
  color: #7bd0ff;
}

.titlebox2 {
  padding: 0.4rem 0px;
}

.titlebox2 p {
  text-align: center;
}

.titlebox2 p:nth-child(1) {
  font-size: 20px;
  color: #ffffff;
}

[data-dpr="2"] .titlebox2 p:nth-child(1) {
  font-size: 80px;
}

[data-dpr="3"] .titlebox2 p:nth-child(1) {
  font-size: 120px;
}

.titlebox2 p:nth-child(2) {
  font-size: 7px;
  color: #a0dcff;
}

[data-dpr="2"] .titlebox2 p:nth-child(2) {
  font-size: 28px;
}

[data-dpr="3"] .titlebox2 p:nth-child(2) {
  font-size: 42px;
}

.cjbox {
  background: url(../img/cjbg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0.50667rem;
}

.cj_left {
  width: 60%;
  font-size: 0px;
}

.cj {
  width: calc( (100% - 10px) / 3);
  display: inline-flex;
  vertical-align: top;
  height: 1.89333rem;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

.cj .imgbox2 {
  width: 100%;
  height: 1.33333rem;
}

.cj:nth-child(3n) {
  margin-right: 0px;
}

.cj:hover {
  background-color: #0681c5;
}

.cj:hover .imgbox2 img:nth-child(1) {
  display: none;
}

.cj:hover .imgbox2 img:nth-child(2) {
  display: block;
}

.cj:hover .caption2 {
  color: #ffffff;
}

.imgbox2 {
  text-align: center;
}

.imgbox2 img:nth-child(2) {
  display: none;
}

.caption2 {
  font-size: 9px;
  color: #8e8e8e;
  margin-top: -0.13333rem;
}

[data-dpr="2"] .caption2 {
  font-size: 36px;
}

[data-dpr="3"] .caption2 {
  font-size: 54px;
}

.cj_right {
  width: calc(40% - 5px);
  margin-left: 5px;
  background-color: #ffffff;
  height: 5.86667rem;
  overflow: auto;
  padding: 0.4rem 0.26667rem;
  box-sizing: border-box;
}

.cj_right p {
  color: #808080;
  font-size: 12px;
}

.cj_right p:first-child {
  font-size: 14px;
  color: #0080c7;
}

.cj_right p span {
  font-size: 12px;
  color: #808080;
  font-weight: bold;
}

.attend {
  margin-top: 0.26667rem;
}

.attend > p {
  font-size: 12px;
  color: #808080;
}

.attend > p:first-child {
  color: #808080;
  font-size: 12px;
  font-weight: bold;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: url(../img/icon-left.png);
  background-size: cover;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: url(../img/icon-right.png);
  background-size: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 0.66667rem;
  height: 0.66667rem;
  margin-top: -13px;
}

.mapwrap img {
  width: 100%;
}

.gezibox {
  width: 25%;
}

.tsbox {
  margin: 0.4rem 0px;
}

.tsbox > div {
  display: inline-block;
  vertical-align: top;
}

.wenzibox {
  width: 25%;
  display: inline-flex !important;
  text-align: center;
}

.wenzibox p {
  font-size: 12px;
  color: #7e7e7e;
}

.wenzibox p:nth-child(1) {
  font-size: 14px;
  color: #0080c7;
}

.tsbox {
  font-size: 0px;
}

.wenzibox:nth-child(2), .wenzibox:nth-child(8), .wenzibox:nth-child(10) {
  background-color: #0080c7;
}

.wenzibox:nth-child(2) p, .wenzibox:nth-child(8) p, .wenzibox:nth-child(10) p {
  font-size: 12px;
  color: #b9e6ff;
}

.wenzibox:nth-child(2) p:nth-child(1), .wenzibox:nth-child(8) p:nth-child(1), .wenzibox:nth-child(10) p:nth-child(1) {
  font-size: 14px;
  color: #ffffff;
}

.endbox {
  text-align: center;
  padding-bottom: 1.86667rem;
}

.endbox p {
  font-size: 12px;
  color: #949494;
}

.endbox p:nth-child(1) {
  font-size: 16px;
  color: #0080c7;
  letter-spacing: 2px;
  margin-bottom: 0.13333rem;
  line-height: 1.5;
}

.bottom {
  height: 1.57333rem;
  font-size: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2222;
}

.bottom > div {
  display: inline-flex;
  vertical-align: top;
}

.bottom > div > a {
  width: 100%;
  height: 100%;
}

.bottom_left {
  width: 20%;
  background-color: #0175be;
  font-size: 14px;
  color: #ffffff;
  height: 100%;
}

.bottom_left img {
  width: 0.73333rem;
}

.bottom_left a {
  color: #ffffff;
}

.bottom_middle {
  width: 40%;
  height: 100%;
}

.bottom_middle a {
  background-color: #ffc600;
}

.imgbox3 img {
  width: 0.66667rem;
  margin-right: 5px;
}

.tel p {
  color: #ffffff;
}

.tel p:nth-child(1) {
  font-size: 12px;
}

.tel p:nth-child(2) {
  font-size: 14px;
}

.imgbox4 img {
  width: 0.70667rem;
  margin-right: 5px;
}

.bottom_right {
  width: 40%;
  height: 100%;
  background-color: #0175be;
  font-size: 14px;
}

.bottom_right a {
  color: #ffffff;
}

.articlebox {
  padding: 0.33333rem;
}

.title {
  font-size: 18px;
  color: #0080c7;
  text-align: center;
  padding: 0.26667rem 0px;
}

section {
  margin-top: 0.66667rem;
}

.question {
  font-size: 14px;
  color: #0080c7;
  line-height: 1.8;
}

.answer {
  font-size: 14px;
  color: #676767;
  line-height: 1.8;
  text-indent: 2em;
}

.answer a {
  color: #0080c7;
}

.text-indent {
  text-indent: 2em;
}

.text-indent0 {
  text-indent: 0em !important;
}

.profileimg {
  width: 100%;
  padding-top: 0.26667rem;
}

.profileimg img {
  width: 90%;
}

table tr:nth-child(1) {
  background-color: #cce6f4 !important;
}

table tr:nth-child(1) td {
  font-size: 12px !important;
  color: #0080c7 !important;
  text-align: center !important;
}

table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

table tr:nth-child(5) {
  background-color: #f1f1f1 !important;
}

table tr:nth-child(6) {
  background-color: #f8f8f8 !important;
}

table tr:nth-child(7) {
  background-color: #f1f1f1 !important;
}

table tr:nth-child(8) {
  background-color: #f8f8f8 !important;
}

table tr:nth-child(9) {
  background-color: #f1f1f1 !important;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr td {
  padding: 0.26667rem;
  text-align: center;
  box-sizing: border-box;
}

table tr td:nth-child(1) {
  width: 20%;
}

table tr td:nth-child(2) {
  width: 25%;
}

table tr td:nth-child(3) {
  width: 25%;
}

table tr td:nth-child(4) {
  width: 15%;
}

table tr td:last-child {
  width: 15%;
}

.zixunbox {
  width: 100%;
  height: 1.56rem;
  margin-top: 0.26667rem;
  background-color: #f3f3f3;
  padding: 0.26667rem;
  box-sizing: border-box;
}

.zixunleft {
  width: 70%;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 0.13333rem;
  font-size: 13px;
  height: 100%;
}

[data-dpr="2"] .zixunleft {
  font-size: 52px;
}

[data-dpr="3"] .zixunleft {
  font-size: 78px;
}

.inputwrap {
  height: 100%;
}

.inputwrap input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 13px;
  padding: 0px 0.13333rem;
  box-sizing: border-box;
  color: #575757;
}

[data-dpr="2"] .inputwrap input {
  font-size: 52px;
}

[data-dpr="3"] .inputwrap input {
  font-size: 78px;
}

.inputwrap > p {
  width: calc(30% - 1px);
  height: calc(100% - 2px);
}

.inputwrap > p a {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #ffffff;
  background-color: #ffc600;
  border-radius: 0.10667rem;
}

[data-dpr="2"] .inputwrap > p a {
  font-size: 52px;
}

[data-dpr="3"] .inputwrap > p a {
  font-size: 78px;
}

.zixunright {
  width: 30%;
}

.zixunright > p {
  width: 2.6rem;
  height: 0.97333rem;
  margin-left: 0.26667rem;
}

.zixunright > p a {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #ffffff;
  background-color: #00b6e8;
  border-radius: 0.10667rem;
}

[data-dpr="2"] .zixunright > p a {
  font-size: 52px;
}

[data-dpr="3"] .zixunright > p a {
  font-size: 78px;
}

.wenbox {
  font-size: 12px;
  padding: 0.26667rem;
  color: #575757;
  line-height: 1.5;
  text-indent: 2em;
}

[data-dpr="2"] .wenbox {
  font-size: 48px;
}

[data-dpr="3"] .wenbox {
  font-size: 72px;
}

.main_title {
  width: 100%;
  height: 1.06667rem;
  background-color: #0080c7;
  color: #ffffff;
  font-size: 18px;
}

[data-dpr="2"] .main_title {
  font-size: 72px;
}

[data-dpr="3"] .main_title {
  font-size: 108px;
}

.indentitybox {
  width: 100%;
  padding: 0.26667rem;
  box-sizing: border-box;
  font-size: 0px;
}

.identity {
  width: 22%;
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
}

.identity:nth-child(4n) {
  margin-right: 0px;
}

.identity .identityimg img {
  width: 80%;
}

.identity .caption p {
  font-size: 12px !important;
  color: #5a5a5a !important;
  line-height: 1.5;
}

.online {
  padding: 0.4rem 0.33333rem;
}

.people1 {
  justify-content: flex-start;
  margin-bottom: 0.26667rem;
}

.people1_left, .people2_left {
  width: 0.73333rem;
  height: 0.73333rem;
  border-radius: 0.13333rem;
  border: 1px solid #ececec;
}

.ltbox {
  width: auto;
  margin-left: 0.26667rem;
  position: relative;
}

.ltbox::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: absolute;
  top: 0.4rem;
  left: -4px;
  transform: rotate(45deg);
  border-radius: 0.05333rem;
  background-color: #ffffff;
  z-index: 2;
}

.ltbox p {
  padding: 0.2rem;
  border: 1px solid #ececec;
  border-radius: 0.13333rem;
  position: relative;
  color: #545454;
  line-height: 1.5;
}

.people2 {
  margin-bottom: 0.26667rem;
}

.ltbox2 {
  width: auto;
  margin-right: 0.26667rem;
  position: relative;
  max-width: 88%;
}

.ltbox2::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #ececec;
  border-top: 1px solid #ececec;
  position: absolute;
  top: 0.4rem;
  right: -4px;
  transform: rotate(45deg);
  border-radius: 0.05333rem;
  background-color: #99eb5b;
  z-index: 2;
}

.ltbox2 p {
  padding: 0.2rem;
  border: 1px solid #ececec;
  border-radius: 0.13333rem;
  position: relative;
  background-color: #99eb5b;
  color: #545454;
  line-height: 1.5;
}

.people2 {
  justify-content: flex-end;
  align-items: flex-start;
}

.tipimg img {
  width: 35%;
}

.tipcontent, .smwrap {
  padding: 0.26667rem;
}

.tipcontent > p, .smwrap > p {
  text-indent: 2em;
  font-size: 13px;
  color: #575555;
  line-height: 1.6;
}

.smwrap > p {
  text-indent: 0em;
}

.smwrap > p:nth-child(1) {
  text-indent: 2em;
}

.mb2 {
  margin-bottom: 0.26667rem;
}

.lhbox {
  padding: 0.53333rem 0.4rem;
  align-items: flex-start;
}

.lhbox .luwrap {
  background-color: #f6f6f6;
  width: 48%;
}

.lhbox .luwrap:nth-child(1) {
  border-bottom: 1px solid #00b6e8;
  margin-right: 4%;
}

.lhbox .luwrap:nth-child(1) > p:nth-child(1) {
  background-color: #00b6e8;
}

.lhbox .luwrap:nth-child(1) > p:nth-child(3) {
  background-color: #00b6e8;
}

.lhbox .luwrap:nth-child(2) {
  border-bottom: 1px solid #eea638;
}

.lhbox .luwrap:nth-child(2) > p:nth-child(1) {
  background-color: #eea638;
}

.lhbox .luwrap:nth-child(2) > p:nth-child(3) {
  background-color: #eea638;
}

.lhbox .luwrap > p:nth-child(1) {
  width: 100%;
  height: 0.8rem;
  font-size: 15px;
  color: #ffffff;
}

.lhbox .luwrap > p:nth-child(3) {
  width: 2.2rem;
  height: 0.6rem;
  margin: 0 auto;
  margin-bottom: 0.26667rem;
}

.lhbox .luwrap > p:nth-child(3) a {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
}

.lhcontent {
  padding: 0.33333rem;
}

.lhcontent p {
  font-size: 12px;
  color: #575555;
  line-height: 1.5;
}

.yswrap {
  padding: 0.33333rem;
  align-items: flex-start;
}

.ys {
  width: 24%;
  background-color: #f8f8f8;
  padding: 0.2rem;
}

.ys > p:nth-child(1) {
  font-size: 13px;
  color: #323232;
  text-align: center;
  line-height: 2;
  border-bottom: 1px dotted #dedede;
  width: 100%;
}

.ys > p:nth-child(2) {
  font-size: 12px;
  color: #737373;
  text-indent: 2em;
}
